* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 15px;
}


body {
  margin: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.active {
  background-color: #FFE4E4 !important;
  color: #C40000;
}


a {
  text-decoration: none;
}




/* +================================== HEADER ========================================+ */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 6.8em;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #ffffffce;
  transition: top 0.3s;
}

.header-middle__form-search {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: white;
  padding: 0.6em 1.1em 0.4em 1.1em;
  width: 24.93em;
  margin-right: 20em;
  border-radius: 6px;
}

.search-button-responsive {
  display: none;
}

.search-input {
  border: none;
  margin-bottom: 4px;
}

.search-input::placeholder {
  font-weight: 500;
  color: #D4D1D4;
}

.header-right {
  display: flex;
  align-items: center;
}

ul.menu li {
  display: inline-block;
  margin: 0 1em;
}

.menu__top {
  color: white;
  background-color: #770303;
  padding: 4.6px 12px;
  border-radius: 4px;
  text-align: center;
  line-height: 21.72px;
  font-size: 15px;
  border: 1px solid #770303;
}

.menu__top a {
  color: white;
}

.menu__create-blog {
  margin-right: 6em;
}

.my-profile {
  display: flex;
  align-items: center;
}

.my-profile * {
  display: inline-block;
  margin: 0 3px;
}

.header-right__menu-toggle-btn {
  border: none;
  background-color: transparent;
  display: none;
}

/* +================================================= MAIN ==========================================+ */
.list-blog {
  width: 100%;
  margin: 0 auto;
  margin-top: 72px;
  padding: 0 6.8em;
}

.list-blog__blog-post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2em;
  row-gap: 4.6em;
  margin: 2.5em auto;
}

.list-blog__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-blog__title-row__title {
  font-size: 3.2em;
  font-weight: bolder;
  line-height: 72.4px;
}

.list-blog__title-row__categories {
  padding: 6px 10px;
  width: 144px;
  height: auto;
  border-radius: 4px;
  border: 1px solid #DEDEDE;
}


.post {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post__post-item-text {
  padding: 1.5em 1.1em;
  color: #211E3B;
}

.post__post-item-author-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #211E3B;
}

.post__post-item-author-row * {
  display: flex;
  align-items: center;
  margin-right: 8px;
  font-size: 18px;
}

.post__post-item__title {
  font-weight: 900;
  font-size: 20px;
  margin: 15px 0;
  color: #211E3B;
}

.post__post-item__describe {
  font-size: 18px;
}

.post__post-item__read-more {
  padding: 10px 26px;
  border: 1px solid #E4E4E4;
  color: #C40000;
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  margin-top: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.post__post-item__read-more i {
  margin-top: 3px;
}

/* ============================================= Pagination ========================================== */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 50px;

}

.pagination__button {
  border: none;
  border-radius: 50%;
  min-width: 32px;
  min-height: 32px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

.pagination__page {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  border-radius: 100%;
}



.pagination__icon {
  background-color: #E5E5E5;
  padding: 9px 17px;
  border-radius: 100%;
}

.pagination__icon:hover {
  background-color: #C40000;
}

/* ====================================== Footer =================================================== */

.footer {
  text-align: center;
  padding: 2.4em;
  margin-top: 96px;
  background-color: #000000;
  color: #FFFFFF;
}

/* ================================================ Responsive ============================================== */
@media screen and (max-width: 549px) {
  .list-blog__blog-post {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 0.9em auto;
  }

  .list-blog {
    padding: 0 2em;
  }

  .list-blog__title-row__title {
    font-size: 2em;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }

  .search-button-responsive {
    display: inline-block;
  }

  .header-left {
    order: 2;
  }

  .header-middle {
    order: 3;
  }

  .header-middle__form-search {
    display: none;
  }

  .header-right {
    order: 1;
    position: relative;
  }

  .header-right__menu-toggle-btn {
    display: inline-block;
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150%;
    z-index: 1;
    background-color: #DEDEDE;
    gap: 1em;
  }

  .menu li {
    display: inline-block;
    width: 400px;
  }

  .menu__top {
    background-color: transparent;
    padding: 0;
    border: none;
    text-align: start;
  }

  .menu__top a {
    color: black
  }

  .hide {
    display: none;
  }
}

@media screen and (min-width: 2000px) {
  .header-middle__form-search {
    margin-right: 90em;
  }
}
